/*Layout*/
@font-face {
	font-family: Gotham;
	src: url("gotham/gotham-book.otf");
}

body {
	height: 100%;
	background: -webkit-linear-gradient(top, #ABABAB, #FFFFFF);
	background: -moz-linear-gradient(top, #ABABAB, #FFFFFF);
	background: -ms-linear-gradient(top, #ABABAB, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABAB', endColorstr='#FFFFFF');
}

.container {
	width: 900px;
	margin: auto;
	box-shadow: 0 0 10px gray
}

img {
	margin-top: 0;
	margin-bottom: 0;
}

.gif {
	border-bottom: 20px solid #194981;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav {
	margin-top: -4px;
	background: #194981;
	width: 100%;
}

.nav ul {
	position: relative;
}

.nav-li:first-child {
	margin-left: 0.5px;
	padding-left: 14px
}

.nav-li:last-child {
	padding-right: 12px
}

.nav-li {
  list-style: none;
  display: inline-block;
  padding: 15px 13px 15px 13px;
  margin: -3px;
  color: #FFFFFF;
}

.bar {
	color: #4b6888;
	padding: 11px 0 10px 0;
	margin: 0 -2px 0 -2px;
	font-weight: 600;
	font-size: 14px;
  font-family: "Times New Roman", Times, Serif;
}

.links-main {
	font-family: Gotham;
  font-size: 14px;
  padding: 11px 0 16px 0;
}

.links-main:hover {
	color: #808080;
}

#service-links {
	opacity: 0.92;
	display: none;
	width: 170px;
	left: 50%;
	margin-left: -280px;
	padding: 0;
	position: absolute;
	top: 111px;
	background: #5E5E5E;
}

#service-links li {
	border-top: 1px solid white;
	display: block;
	width: 160px;
	padding: 10px 5px;
}

#service-links a {
	padding-right: 160px;

}

#service-links li:hover {
	background: -webkit-linear-gradient(bottom, #2e4f78, 	#9aacc2);
	background: -moz-linear-gradient(top, #9aacc2, #2e4f78);
	background: -ms-linear-gradient(top, #9aacc2, #2e4f78);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9aacc2', endColorstr='#2e4f78');
	color: white;
}

a {
  font-family: "Hevletica" Arial, Sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

.footer {
	border-top: 1px solid white;
	width: 900px;
	margin: 0 auto 0 auto;
	background: -webkit-linear-gradient(bottom, #696969, 	#C3C3C3);
	background: -moz-linear-gradient(top, #C3C3C3, #696969);
	background: -ms-linear-gradient(top, #C3C3C3, #696969);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C3C3C3', endColorstr='#696969');
}

#footer-p {
	margin: 0 0 0 10px;
	padding: 5px 0;
	color: white;
	font-size: 7pt;
}

#contact {
	margin-left: 125px;
	font-size: 8pt;
}

.vert-bar {
	margin: 0 5px;
}

/*Index*/

.main {
	margin-top: -4px;
	border-top: 1px solid #FFFFFF;
	height: 850px;
	width: 900px;
	background: #e6e6e6;
}

.index-left {
	float: left;
	width: 450px;
}

.index-video {
	margin: 40px 0 0 20px;
}

.index-thumbnail {
	width: 400px;
	height: 225px;
}

h3 {
	font-size: 10pt;
	margin-bottom: 1px;
	margin-top: 10px;
}

.break {
	background-color: #194981;
	width: 2px;
	height: 750px;
	margin-top: 60px;
	float: left;
}

.index-right {
	width: 446px;
	float: right;
}

#gamechanging {
	width: 400px;
}

#tips {
	color: #194981;
	font-size: 13pt;
	margin: 30px auto 0 auto;
	width: 400px;
	text-align: center;
}

.quantity {
	float: left;
	width: 200px;
	margin: 0 0 10px 0;
}

#book {
	width: 250px;
	height: auto;
	margin-bottom: -10px;
}

#book-review {
	clear: both;
	width: 350px;
	margin: 50px auto 20px auto;
	text-align: center;
	font-size: 14px;
	color: #194981;
}

.review-source {
	font-style: italic;
	font-weight: bold;
	margin: 0;
}

.buy-now {
	float: left;
	margin: 40px 10px 0 20px;
	width: 170px;
	text-align: center;
}

.order-links {
	margin-bottom: 25px;
	box-shadow: 2px 2px 1px black;
}

#amazon {
	width: 148px;
	border-radius: 15px;
}

#barnes {
	width: 138px;
	padding: 8px 5px 5px 5px;
	background-color: white;
	border-radius: 10px; 
}

#inquire {
	padding: 5px 0;
	color: #194981;
	width: 225px;
	clear: both;
	margin: 0 auto 10px;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
}

#checklist {
	margin: 10px 0 0 0;
}

#checklist-img {
	margin: 20px 0 0 5px;
	display: inline-block;
}

#order-checklist {
	width: 175px;
	background-color: #c0d4ef;
	border-radius: 10px;
	color: #264b78;
	font-weight: bolder;
	font-size: 14pt;
	float: right;
	margin: 60px 15px 0 0;
	box-shadow: 2px 2px 3px black;
}

.opaque {
	position: absolute;
	top: 0;
	left: 0;
	height: 1181px;
	width: 100%;
	background: gray;
	opacity: 0.85;
	z-index: 1;
}

.player {
	position: fixed;
	top: 20%;
	left: 0;
	width: 100%;
	height: 394px;
	background: black;
	opacity: 0.99;
	z-index: 2;
}

#close {
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: 375px;
	padding-right: 16px;
	width: 20px;
}

#index-vid {
	position: fixed;
	top: 20%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 3;
	opacity: 1.8;
}

#inner-right {
	padding: 20px;
	color: #194981;
}

#inner-right p {
	line-height: 20px;
	font-size: 16px;
}

.others {
	margin: 25px 0;
}

.others p {
	margin: 2px;
}

.others-quote {
	font-style: italic;
}

/*About*/

.dynamic-div {
	border-top: solid 2px white;
	border-bottom: solid 2px white;
	background-color: #e6e6e6;
}

#about-div {
	padding-bottom: 50px;
}

#about-you {
	width: 550px;
	margin: 5px 10px 0 10px;
	display: inline-block;
}

.dynamic-header {
	padding: 3px;
	color: white;
	background: -webkit-linear-gradient(bottom, #3b6fa9, #1d4e88);
	background: -moz-linear-gradient(top, #1d4e88, #3b6fa9);
	background: -ms-linear-gradient(top, #1d4e88, #3b6fa9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4e88', endColorstr='#3b6fa9');
	font-size: 14pt;
	border-radius: 5px;
}

#you {
	width: 120px;
	margin-left: 10px; 
}

#business-first {
	font-size: 12pt;
	width: 350px;
	color: #193165;
	margin: 10px auto 10px auto;
	font-style: italic;
}

.abouts {
	color: #193165;
	font-size: 12pt;
	margin-bottom: 10px;
	line-height: 22px;
	margin: 0 0 0 10px;
	padding: 5px 0;
}

#dad-jacket {
	width: 250px;
	height: auto;
	float: right;
	margin: 85px 20px 0 10;
	border: 1px solid white;
	box-shadow: 0 0 10px gray;
}

/*Speaks*/

.topics-left {
	width: 550px;
	margin: 8px 0 30px 20px;
	padding-bottom: 50px;
	display: inline-block;
}

#topics-header {
	width: 225px;
}

.topics-sub {
	color: red;
	font-size: 10pt;
	margin: 20px 0;
}

.subheading {
	font-style: italic;
	font-size: 12pt;
	margin-bottom: 5px;
}

.dynamic-p {
	margin-top: 0;
	color: #193165;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}

#superstars {
	margin-bottom: 0;
}

.topics-ul {
	color: #193165;
	font-size: 10pt;
	font-weight: bold;
	margin: 0 0 10px 50px;
}

.topics-right {
	width: 250px;
	float: right;
	margin: 70px 30px 0 0;
}

/*Consulting*/

#consulting {
	padding-bottom: 265px;
}

#consulting-header {
	margin: 20px;
	width: 105px;
}

#consulting p {
	margin: 10px 20px;
	width: 650px;
	color: #193165;
	line-height: 22px;
	font-size: 16px;
	font-weight: bold;
}

#consulting h2 {
	margin-left: 20px;
	font-size: 20px;
	font-style: italic;
}

#services {
	list-style-type: none;
	margin-left: 20px;
}

#services li {
	margin: 10px 0;
	font-size: 18px;
	color: #193165;
	font-weight: bold;
}

/*Training*/

#training-header {
	margin: 20px;
	width: 190px;
}

#training p {
	margin: 10px 20px;
	width: 650px;
	color: #193165;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
}

#training h2 {
	margin-left: 20px;
	font-size: 20px;
	font-style: italic;
}

/*Why Hire Me?*/

#why-hire {
	padding-bottom: 5px;
	color: #193165;
	line-height: 22px;
	font-size: 16px;
	font-weight: bold;
}

#why-hire-header {
	margin: 20px;
	width: 245px;
}

#why-hire ol {
	margin: 10px 20px 20px 20px;
}

.inner-ol {
	margin-left: 10px;
	list-style-type: lower-alpha;
}

.inner-ol li {
	margin: 10px 0;
	width: 600px;
}

#hire-link {
	color: #1E90FF;
}

/*Handouts*/

.handouts-div {
	margin: 15px 0 0 0;
}

#handouts-header {
	width: 110px;
	margin: 0 10px 20px 20px;
	display: inline-block;
}

#enlarge {
	display: inline-block;
	color: #043071;
	font-size: 8pt
}

.row {
	text-align: center;
}

#row1 div{
	margin: 5px 30px;
}

#row2 div {
	margin: 10px 20px;
}

#row3 div {
	margin: 10px 25px;
}

#row4 div{
	margin: 10px 50px;
}

#row5 div {
	margin: 10px 60px 20px 60px;
}

.handouts {
	width: 185px;
	text-align: center;
	display: inline-block;
}

.thin {
	width: 120px;
}

.handout-title {
	color: #043071;
	font-weight: bold;
}

.tall {
	font-size: 9pt;
}

.handout-images {
	height: 140px;
	width: auto;
}

/*Testimonials*/

.testimonials-left {
	margin: 15px 0 0 15px;
	width: 450px;
	display: inline-block;
}

#testimonials-header {
	width: 145px;
	margin: 10px 0 25px 10px;
}

.testimonial {
	color: #043071;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 50px;
}

.bubble {
	position: relative;
	width: 405px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 0 2px gray;
	padding: 30px 15px 45px 15px;
	margin-bottom: 10px;
}

.bubble:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 25px;
	bottom: -20px;
	border: 10px solid;
	border-color: white transparent transparent white;
}

.quote {
	width: 330px;
	text-align: center;
	font-style: italic;
	margin: auto;
}

.source {
	margin-left: 30px
}

.letter {
	width: 390px;
	margin-left: 5px;
	text-align: left;
}

.testimonial-p {
	margin: 0;
	line-height: 20px;
}

.block {
	font-weight: normal;
	margin-bottom: 15px;
}

.block-last {
	margin-bottom: 35px
}

.letter-source {
	margin-left: 5px;
}

.testimonials-right {
	width: 400px;
	display: inline-block;
	float: right;
	margin: 50px 20px 0 0;
}

/*Contact*/

.contact-content {
	width: 570px;
	margin-left: 160px;
	color: #193165;
	line-height: 22px;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 405px;
}	

#contact-header {
	margin: 20px 0 0 20px;
	width: 95px;
}

.contact-info {
	width: 225px;
	margin: 30px 0 5px 130px;
}

.alt-contact-info {
	width: 500px;
	margin: 30px auto 5px auto;
}

.contact-info p {
	margin: 0;
	font-size: 11pt
}

#agency {
	font-family: sans-serif;

}

.specific {
	float: right;
}

#email-sean {
	float: right;
	color: blue;
	text-decoration: underline;
	font-family:"Times New Roman", Georgia, Serif;	
}

/*Sales Shot*/

.sales-div {
	padding-bottom: 20px;
}

.sales-div p {
	color: #043071;
}

#shot-header {
	margin: 20px 0 0 20px;
	width: 125px;
}

.sales-left {
	width: 365px;
	margin: 40px 0 35px 40px;
	display: inline-block;
}

#sales-book {
	display: inline-block;
}

#order-buttons {
	width: 155px;
	float: right;
	margin
}

.sales-right {
	width: 370px;
	float: right;
	margin-right: 60px;
}

#signup-green {
	margin: 0 0 20px 30px;
}

.sales-right a {
	color: #5E5E5E;
}

#receive {
	font-weight: bold;
}

.sales-right p {
	font-size: 20px;
}

.sales-right a:hover {
	color: black;
}

#amazon-right {
	margin-left: 90px;
}

.sales-p {
	font-family: sans-serif;
	font-size: 15px
}

#signup-sales {
	text-align: center;
	width: 270px;
	margin: 20px auto;
}

.signup-link {
	color: #3f7fcf;
	text-decoration: underline;
}

.sales-review {
	width: 300px;
	margin-bottom: 30px;
}

.sales-review p {
	margin: 5px 0;
}

#sales-review-left {
	float: left;
}

#sales-review-right {
	float: right;
}

#sales-review-right .sales-quote {
	margin-bottom: 20px;
}

#sales-review-left .sales-quote {
	margin-bottom: 40px
}

.sales-quote {
	font-style: italic;
}

.sales-source {
	font-weight: bold; 
}

#survey-div {
	margin: 80px auto 20px auto;
	width: 700px;
}

#survey {
	width: 600px;
	margin-left: 50px;
}

#sales-break {
	width: 850px;
	height: 1px;
}

.sales-lower {
	margin: 20px 0 0 30px;
	height: 910px;
}

#big-book {
	width: 325px;
	height: 615px;
	display: inline-block;
}

.sales-lower-right {
	width: 450px;
	float: right;
	margin-right: 75px;
}

.sales-bold {
	margin: 0 0 20px 0;
	font-weight: bold;
}

.sales-regular {
	margin-bottom: 20px
}

#sales-italic {
	font-style: italic;
}

#bottom-signup {
	margin: auto;
	width: 305px;
}

/*Sign Up*/

.signup-page-div {
	padding-bottom: 642px;
}

#signup-header {
	width: 77px;
	margin: 20px 0 0 20px;
}

#signup-p {
	width: 780px;
	font-family: sans-serif;
	font-size: 10pt;
	margin: 20px 0 20px 20px;
}

.signup-div {
	width: 190px;
	text-align: center;
	margin: auto;
}

#signup-last {
	color: black;
	text-decoration: underline;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: normal
}

#signup-bottom {
	color: #939393;
	font-size: 8pt;
	margin-top: 0;
}

#safesubscribe {
	margin-bottom: 0;
}

#marketing {
	color: #939393;
	font-weight: normal
}

.checklist-left {
	width: 460px;
	display: inline-block;
	padding-bottom: 50px
}

#checklist-header {
	color: #193165;
	font-size: 12pt;
	margin: 20px 20px;
}

#checklist-image {
	margin: 20px 0 0 50px;
}

.checklist-right {
	width: 335px;
	display: inline-block;
	float: right;
	margin: 65px 90px 0 0;
}

#includes {
	font-size: 12pt
}

#checklists {
	margin: 15px 0 0 20px;
	color: #193165;
}

#checklists li {
	margin: 10px 0;
	font-style: italic;
	font-weight: bold;
	font-size: 13pt
}

#paypal-cart {
	margin: 20px auto;
	width: 125px;
}

/*Tournament*/

#tournament {
	margin: 10px;
	height: 795px;
	position: relative;
}

#tournament-controls {
	margin: 20px;
	width: 450px;
}

#tournament-controls div {
	margin: 10px 0;
}

#instructions {
	margin-left: 45px;
	padding: 5px 10px;
	border: 1px solid white;
	background: #194981; 
	text-decoration: underline;
}

#begin {
	background-color: #FFFF00;
}

#tournament-details {
	position: absolute;
	width: 440px;
	top: 100px;
	left: 30px;
}

#company-header {
	font-size: 22px;
}

#goal-header {
	font-style: italic;
	font-size: 20px;
}

.bracket {
	display: none;
	margin-left: 20px;
}

#bracket4 {
	margin-top: 150px;
}

#bracket8 {
	margin-top: 40px;
}

.bracket > * {
	vertical-align: middle;
}

.round {
	display: inline-block;
}

#challenge8 {
	position: relative;
	right: 470px;
}

#challenge16 {
	position: relative;
	left: 390px;
	bottom: 690px;
}

.consolation {
	display: block;
	position: relative;
}

#bracket4 .consolation {
	margin: 80px 0 0 180px;
}

#bracket8 .consolation {
	margin: -20px 0 0 360px;
}

#bracket16 .consolation {
	margin: -200px 0 0 450px;
}

.consolation .team:first-child {
	margin-bottom: 40px;
}

.third-place {
	position: absolute;
	bottom: 0;
}

#bracket4 .third-place {
	right: 350px;
}

#bracket8 .third-place {
	right: 180px;
}

#bracket16 .third-place {
	right: 100px;
}

.third-place .team {
	font-weight: bolder;
	background: #00FF00;
	color: black;		
}

.consolation-header {
	bottom: 140px;
	position: absolute;
}

#bracket4 .consolation-header {
	right: 450px;
}

#bracket8 .consolation-header {
	right: 270px;
}

#bracket16 .consolation-header {
	right: 200px;
}

.matchup {
	width: 150px;
}

.team:hover {
	cursor: pointer;
}

#bracket4 .matchup {
	margin: 10px 10px;
}

#bracket8 .round1 .matchup {
	margin: 20px 10px;
}

#bracket8 .round2 .matchup {
	margin: 80px 10px;
}

#bracket8 .round3 .matchup {
	margin: 0 20px 0 10px;
}

#bracket8 .round2 .team {
	margin: 55px 0;
}

#bracket8 .round3 .team {
	margin: 175px 0;
}

#bracket16 .round1 .matchup {
	margin: 20px 10px;
}

#bracket16 .round2 .matchup {
	margin: 100px 10px;
}

#bracket16 .round2 .team {
	margin: 40px 0;
}

#bracket16 .round3 .matchup {
	margin: 200px 10px;
}

#bracket16 .round3 .team {
	margin: 170px 0;
}

#bracket16 .round4 .team {
	margin: 420px 0;
}

.team {
	height: 40px;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
	color: #FFFFFF;
	margin: 5px 0;
	width: 150px;
}

.outer {
	display: table;
}

.outer p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius: 15px;
}

.round2 .team {
	margin: 32px 0;
}

.round3 .team {
	margin: 85px 0;
}

.round4 .team {
	margin: 190px 0;
}

.winner {
	width: 150px;
}

.winner .team {
	font-weight: bolder;
	background: #00FF00;
	color: black;		
}

#list {
	list-style-type: decimal;
	width: 800px;
	display: none;
	position: absolute;
	top: 220px;
	left: 30px;
}

#list h1 {
	font-size: 20px;
	margin-bottom: 10px;
}

.idea {
	width: 600px;
	margin: 15px 10px 10px 40px;
	font-size: 16px;
}

.idea:hover {
	cursor: pointer;
}

#winners {
	display: none;
	position: absolute;
	top: 0;
	right: 20px;
	width: 350px;
	list-style-type: decimal;
	text-align: center;
}

#winners li {
	margin: 10px 0;
	font-size: 16px;
	line-height: 30px;
	text-align: left;
}

#winners p {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

#winners {
	margin: auto;
}

#winners #p-first {
	font-size: 22px;
	font-weight: bolder;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
}

#challenge-div {
	height: 210px;
	width: 400px;
	margin: -105px 0 0 -200px;
	border: 2px solid black;
	background: #C4C4C4;
}

#challenge-div h3 {
	margin: 10px 10px;
}

#challenge-div select {
	width: 350px;
	margin: 10px;
}

#challenge-buttons {
	margin-top: 10px;
	text-align: center;
}

#change-idea {
	height: 170px;
	width: 400px;
	margin: -100px 0 0 -200px;
	border: 2px solid black;
	background: #C4C4C4;
	text-align: center;
}

#change-idea h3 {
	margin: 20px auto 10px auto;
	width: 300px;
	font-size: 20px;
	text-align: center;
}

#change-idea input {
	width: 350px;
	margin: 10px auto;
}

#change-idea button {
	font-size: 22px;
	margin: 10px;
}