<div class="nav">
	<ul>
		<li class="nav-li nav-link"><a href="/" class="links">HOME</a></li>
		<li class="first-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/about" class="links">ABOUT YOU</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/topics" class="links">TOPICS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/guarantee" class="links">GUARANTEE</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/video" class="links">VIDEO</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/handouts" class="links">HANDOUTS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/testimonials" class="links">TESTIMONIALS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/contact" class="links">CONTACT</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/salesshot" class="links">SALES SHOT</a></li>
		<li class="last-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/signup" class="links">SIGN UP</a></li>
	</ul>
</div>
<div class="dynamic-div">
	<div class="handouts-div">
		<h1 class="dynamic-header" id="handouts-header">HANDOUTS</h1>
		<p id="enlarge">(Click Images to Enlarge)</p>
		<div class="row" id="row1">
			<div class="handouts">
				<a href="images/handouts/salesinterviewquestions.pdf" target="_blank" class="handout-links"><img src="images/handouts/salesinterviewquestions.png" class="handout-images"><span class="handout-title">Sales interview Questions</span></a>
			</div>
			<div class="handouts thin">
				<a href="images/handouts/salesplanner.xls" target="_blank" class="handout-links"><img src="images/handouts/salesplanner.png" class="handout-images"><span class="handout-title tall">Upper Management Sales Planner</span></a>
			</div>
		</div>
		<div class="row" id="row2">
			<div class="handouts thin">
				<a href="images/handouts/100thingssalespeople.pdf" target="_blank" class="handout-links"><img src="images/handouts/100thingssalespeople.png" class="handout-images"><span class="handout-title">100 Things Salespeople Do</span></a>
			</div>
			<div class="handouts">
				<a href="images/handouts/Presentation Planner.xls" target="_blank" class="handout-links"><img src="images/handouts/presentationplanner.png" class="handout-images"><span class="handout-title">Presentation Planner</span></a>
			</div>
			<div class="handouts">
				<a href="images/handouts/Negotiation Planner.xls" target="_blank" class="handout-links"><img src="images/handouts/negotiationplanner.png" class="handout-images"><span class="handout-title">Negotiation Planner</span></a>
			</div>
		</div>
		<div class="row" id="row3">
			<div class="handouts thin">
				<a href="images/handouts/100thingsmanagers.pdf" target="_blank" class="handout-links"><img src="images/handouts/100thingsmanagers.png" class="handout-images"><span class="handout-title">100 Things Managers Do</span></a>
			</div>
			<div class="handouts">
				<a href="images/handouts/thetournament.pdf" target="_blank" class="handout-links"><img src="images/handouts/thetournament.png" class="handout-images"><span class="handout-title">Tournament Sheet</span></a>
			</div>
			<div class="handouts thin">
				<a href="images/handouts/Flyer2012.pdf" target="_blank" class="handout-links"><img src="images/handouts/flyer2012.png" class="handout-images"><span class="handout-title">Flyer</span></a>
			</div>
			<div class="handouts">
				<a href="images/handouts/onlysellingvg.jpg" target="_blank" class="handout-links"><img src="images/handouts/onlysellingvg.jpg" class="handout-images"><span class="handout-title">Selling Sign</span></a>
			</div>
		</div>
		<div class="row" id="row4">
			<div class="handouts thin">
				<a href="images/handouts/threetypesnewer.pdf" target="_blank" class="handout-links"><img src="images/handouts/threetypes.png" class="handout-images"><span class="handout-title"> 3 Types of Salespeople</span></a>
			</div>
			<div class="handouts thin">
				<a href="images/handouts/discountimpact.pdf" target="_blank" class="handout-links"><img src="images/handouts/discountimpact.png" class="handout-images"><span class="handout-title tall">Discount Impact on Profit Margin</span></a>
			</div>
			<div class="handouts thin">
				<a href="images/handouts/employeefocusform.pdf" target="_blank" class="handout-links"><img src="images/handouts/employeefocusform.png" class="handout-images"><span class="handout-title">Employee Focus Form</span></a>
			</div>
		</div>
		<div class="row" id="row5">
		<div class="handouts">	
				<a href="images/handouts/ghanadue.jpg" target="_blank" class="handout-links"><img src="images/handouts/ghanadue.jpg" class="handout-images"><span class="handout-title">Ghanadue Sign</span></a>
			</div>
			<div class="handouts">
				<a href="images/handouts/snifftheplant.jpg" target="_blank" class="handout-links"><img src="images/handouts/snifftheplant.jpg" class="handout-images"><span class="handout-title">Sniff the Plant Sign</span></a>
			</div>
		</div> 
	</div>
</div>