<div class="nav">
	<ul>
		<li class="nav-li nav-link"><a href="/" class="links">HOME</a></li>
		<li class="first-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/about" class="links">ABOUT YOU</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/topics" class="links">TOPICS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/guarantee" class="links">GUARANTEE</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/video" class="links">VIDEO</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/handouts" class="links">HANDOUTS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/testimonials" class="links">TESTIMONIALS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/contact" class="links">CONTACT</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/salesshot" class="links">SALES SHOT</a></li>
		<li class="last-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/signup" class="links">SIGN UP</a></li>
	</ul>
</div>
<div class="dynamic-div">
	<div class="checklist-left">
		<h2 id="checklist-header">Sales Checklist</h2>
		<img src="images/SeanLeahy_negotiation.jpg" id="checklist-image">
	</div>
	<div class="checklist-right">
		<p id="checklist-p">Because pilots do the very same safety checks every time they fly, they use a checklist to make sure they don't miss a step. After performing the same steps thousands of times you would think they would remember what to do without a checklist...wouldn't you?</p>
		<p id="checklist-p">Well, no! Because they do it over and over again, that is exactly the reason they need a checklist.</p>
		<p id="checklist-p">Checklists are also excellent tools for the veteran salesperson.</p>
		<h3 id="includes">Includes:</h3>
		<ul id="checklists">
			<li>Sales Question Checklist</li>
			<li>Negotiation Checklist</li>
			<li>Sales Call Checklist</li>
			<li>Upper Management Checklist</li>
			<li>Powerpoint Checklist</li>
		</ul>
		<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypal-cart">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="ME2F6EDMEAVHG">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" name="submit" alt="PayPal - the safer, easier way to pay online!">
		</form>
	</div>
</div>