<div class="nav">
	<ul>
		<li class="nav-li nav-link"><a href="/" class="links">HOME</a></li>
		<li class="first-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/about" class="links">ABOUT YOU</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/topics" class="links">TOPICS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/guarantee" class="links">GUARANTEE</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/video" class="links">VIDEO</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/handouts" class="links">HANDOUTS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/testimonials" class="links">TESTIMONIALS</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/contact" class="links">CONTACT</a></li>
		<li class="bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/salesshot" class="links">SALES SHOT</a></li>
		<li class="last-bar nav-li">|</li>
		<li class="nav-li nav-link"><a href="/signup" class="links">SIGN UP</a></li>
	</ul>
</div>
<div class="dynamic-div">
	<div class="testimonials-left">
		<h1 class="dynamic-header" id="testimonials-header">TESTIMONIALS</h1>
		<div class="testimonial">
			<div class="bubble bubble3">
				<div class="quote">
					<p class="testimonial-p">"Sean was terrific!...</p>
					<p class="testimonial-p">...Our members asked that we bring him back again!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Louise O'Sullivan</p>
				<p class="testimonial-p">President, Prime Advantage</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble2">
				<div class="quote">
					<p class="testimonial-p">“We have had a lot of speakers before but Sean
					nailed it better than any of them.”</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Jim Brazell</p>
				<p class="testimonial-p">Director, Strategic Sales Development</p>
				<p class="testimonial-p">Land O'Lakes-Purina Feed</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"Absolutely terrific...You really energized me!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Marianne Gaige</p>
				<p class="testimonial-p">Cheif Executive Officer, Cathedral Corporation</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"10, 10, 10...new and innovative"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">John Derry</p>
				<p class="testimonial-p">District Sales Manager, Staples</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"...absolutely wonderful!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Michelle Matijevic</p>
				<p class="testimonial-p">QC Lab Supervisor, Sage Products</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"The best speech I have seen in 30 years."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">David Bulkowski</p>
				<p class="testimonial-p">Owner, DJB Sales Associates</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble5">
				<div class="quote">
					<p class="testimonial-p">"Your presentation at the Boshart Industries meeting was fantastic. I thought you would like to know that my husband Frank gave me flowers for Sweetest Day and they were yellow and some were yellow with red pedals!! Thanks to you, he listened."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Julie Longenecker</p>
				<p class="testimonial-p">Vice President, JFL Marketing, Inc.</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble2">
				<div class="quote">
					<p class="testimonial-p">“Our survey results indicated that your
					speech was the highlight of our meeting.”</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Marty Burbrdige</p>
				<p class="testimonial-p">President & CEO, Crescent Electric Supply</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"The best I have ever seen!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Rich Peterson</p>
				<p class="testimonial-p">Senior Account Executive, Davies Molding</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"Outstanding!</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Jared Silver, At A Glance Marketing</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble2">
				<div class="quote">
					<p class="testimonial-p">"...exceeded my expectations and
					I highly recommend him."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Lissa Anderson</p>
				<p class="testimonial-p">Outreach & Volunteer Coordinator, Cancer Wellness Center</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble2">
				<div class="quote">
					<p class="testimonial-p">“Your management speech helped us
					turn around one of our Texas branches.”</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Tim Copeland</p>
				<p class="testimonial-p">Division President, Rexel, Inc.</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble4">
				<div class="quote">
					<p class="testimonial-p">“Sean practices what he preaches. He asked so many questions about our needs, he knew our business inside and out before he met with our salespeople.
					He was worth every penny!”</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Suzanne S. Oles</p>
				<p class="testimonial-p">Director, Worldwide Color Solution Sales</p>
				<p class="testimonial-p">InfoPrint Solutions Company</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"Exactly what we needed!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Dean Vicha</p>
				<p class="testimonial-p">Vice President, NationaLease</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble21">
				<div class="quote letter">
					<p class="testimonial-p block">Dear Sean:</p>
					<p class="testimonial-p block">Thank you for making a presentation at our 2008 Annual Meeting in Meridian, Mississippi on February 18. Your presentation was well received by our group and we received many positive comments about the content of your presentation and you as a presenter. </p>
					<p class="testimonial-p block">Your ability to blend humor with useful information kept our group focused and attentive. The information you presented was applicable to everyone present even though a variety of responsibilities were represented. </p>
					<p class="testimonial-p block">Again, thank you for the excellent presentation and we would be honored to have you as a repeat presenter.</p>
					<p class="testimonial-p block block-last">Best regards,</p>
				</div>
				<p class="testimonial-p letter-source">Tim Hogan</p>
				<p class="testimonial-p letter-source">Southeast Division President</p>
				<p class="testimonial-p letter-source">Rexel, Inc.</p>
			</div>			
		</div>
		<div class="testimonial">
			<div class="bubble bubble18">
				<div class="quote letter">
					<p class="testimonial-p block">Sean,</p>
					<p class="testimonial-p block">All I can say is BRAVO!!!</p>
					<p class="testimonial-p block">I just wanted to drop a note saying thanks for the time you spent with us at the DM meeting in Cleveland. I really enjoyed your presentation; you are a great speaker and gifted presenter. I was (and am) so impressed and inspired by your “X” strategy piece – you simplified strategy in a way I had never encountered before</p>
					<p class="testimonial-p block block-last">Thanks again for your enthusiasm and encouragement! Sell, sell and sell some more.</p>
				</div>
				<p class="testimonial-p letter-source">Don Burnard</p>
				<p class="testimonial-p letter-source">Regional Sales Manager</p>
				<p class="testimonial-p letter-source">N. IL, W. MI and Indiana</p>
				<p class="testimonial-p letter-source">Crescent Electric Supply Co.</p>
			</div>			
		</div>
		<div class="testimonial">
			<div class="bubble bubble33">
				<div class="quote letter">
					<p class="testimonial-p block">Dear Sean, </p>
					<p class="testimonial-p block">Every time I go to the store to pick up a gallon of milk, I think of your flight lesson story...</p>
					<p class="testimonial-p block">Recently I attended a session of your speech “When Life Gives You a Lemon.” I was very surprised at the level of enthusiasm in the room… especially, when I found myself one of the most enthusiastic. </p>
					<p class="testimonial-p block">As a manager and past attendee of countless speeches, I am struck by the sameness of the standard motivational presentation. Rah, rah sis-boom-bah! Nothing remains a day after that initial buzz. I am looking for a message that resonates, one that I can share with my sales team. I am looking for more than a “feel good” moment. I found it in your speech. </p>
					<p class="testimonial-p block">First, you stressed the importance of personal accountability. It takes more than a few “I can do it!” affirmations to be successful. Success takes hard work, perseverance, personal integrity and the courage to do what others are unwilling to do. That was the message I carried away from your presentation. </p>
					<p class="testimonial-p block">But the main take-away from your speech was that life, like an airplane, has no reverse. Once you commit...go full throttle! There is no use in looking back.</p>
					<p class="testimonial-p block block-last">Thank you.</p>
				</div>
				<p class="testimonial-p letter-source">Jack O'Brien</p>
				<p class="testimonial-p letter-source">Professional Placement Manager</p>
				<p class="testimonial-p letter-source">Manpower Professional</p>
			</div>			
		</div>
		<div class="testimonial">
			<div class="bubble bubble16">
				<div class="quote letter">
					<p class="testimonial-p block">Hi Sean,</p>
					<p class="testimonial-p block">Just thought I would let you know I had a meeting with the Top Management of (large company) yesterday. Based on your Sales Shot suggestion my second slide said "Enough about Burndy" and that lead into a one hour discussion of what (large company) was looking for in a partnership.</p>
					<p class="testimonial-p block block-last">It went great and they told me this was the first time a supplier had done this. Thank you for your Sales Shot insight!</p>
				</div>
				<p class="testimonial-p letter-source">Regards</p>
				<p class="testimonial-p letter-source">Eric Shaban</p>
				<p class="testimonial-p letter-source">VP Sales and Marketing</p>
				<p class="testimonial-p letter-source">Burndy Canada Inc.</p>
			</div>			
		</div>
		<div class="testimonial">
			<div class="bubble bubble16">
				<div class="quote letter">
					<p class="testimonial-p block">"Sean appeared at our annual Product Showcase meeting and spoke to over 100 of our leading executives. He was extremely well received. Sean has a uniquely effective and enjoyable way of reminding people of best-in-class sales and marketing ideas while also provoking people to think about their businesses with a fresh set of perspectives.</p>
					<p class="testimonial-p block block-last">Sean connected strongly with an audience that included people new to our industry as well as those that have years of sales and management experience. We would be pleased to invite Sean to speak at a future meeting."</p>
				</div>
				<p class="testimonial-p letter-source">Steve Ruane</p>
				<p class="testimonial-p letter-source">Vice President of Marketing and Member Services</p>
				<p class="testimonial-p letter-source">The IMARK Group</p>
			</div>			
		</div>
	</div>
	<div class="testimonials-right">
		<img src="images/surveycards.jpg">
	</div>
</div>