<div class="dynamic-div" id="about-div">
	<div id="about-you">
		<h1 class="dynamic-header" id="you">ABOUT YOU</h1>
		<p class="abouts">Your meeting is not about me, it’s about YOU and your team, and that is the way I approach it. You will receive 4 pages of questions from me so that I will understand exactly what you want to accomplish at your meeting. That will be followed up by 3 phone interviews with key people from your company so I can get multiple perspectives of your organization. Then, and only then, I prepare a highly customized speech that accomplishes exactly what you want it to.
		In order to deliver an impactful speech packed with ideas your team can use right away, I will tap into years of experience.</p>
		<h3 id="business-first">Sean is a business leader first and a speaker second.</h3>
		<p class="abouts">I began my business career selling jewelry on the streets of New York City. In order to pay my way through college I sold gas grills, cassette tapes, stereo equipment and worked the midnight shift at a convenience store. I stunk as a street vendor and share the humbling experience to illustrate how salespeople can learn how to be successful.</p>
		<p class="abouts">Twenty five years later I started a consortium of some of the largest electrical distributors in the world. Within a few years we approached $200 million in sales by building a customer base of mostly fortune 500 companies. Today I am the President and CEO of Vanguard National Alliance, a distribution company closely affiliated with Rockwell Automation.</p>
		<p class="abouts">From my days as a street vendor to my position today as CEO, I have collected literally thousands of ideas on what sales superstars do differently from everyone else. I then consolidated those ideas into a book, The Sales Shot, which highlights the best of the best.  Now, after learning more about your needs, I take from my experience and customize a message that meets your needs for a great speech.</p>
	</div>
	<img src="images/sean.png" id="dad-jacket">
</div>