<div class="dynamic-div" id="consulting-div">
  <div id="consulting">
    <h1 class="dynamic-header" id="consulting-header">Consulting</h1>
    <p>I have been very fortunate in my career to have worked from a street vendor to a CEO and multiple levels in-between. My experience has included winning multiple sales and sales management awards, creating a national account department, starting a new company, building a start up to nearly $200 million in less than 10 years, participating on 3 Boards of Directors, working throughout North America and Europe, and successfully working intimately inside hundreds of manufacturers, distributors, and customers that include Disney, General Motors, Michelin, Koch Industries, Pepsi, and many others.</p>
    <p>Sharing my knowledge, experience, and success strategies to help you and your company win has become my greatest passion.</p>
    <h2>My consulting services include the following:</h2>
    <ul id="services">
      <li>Strategy Development</li>
      <li>Sales Analysis and Improvement</li>
      <li>Major Presentation Strategy, Development, and Delivery</li>
      <li>National and Strategic Account Development, Implementation, and Strategy</li>
      <li>Meeting Facilitation</li>
      <li>Ad Hoc Consulting customized per your request</li>
    </ul>
  </div>
</div>