<div class="dynamic-div">
	<div class="contact-div">
		<h1 class="dynamic-header" id="contact-header">CONTACT</h1>
			<div class="contact-content">
				<div class="contact-info">
					<p>Phone <span class="specific">847-922-2181</span></p>
					<p>Email <a href="mailto: sean@seanleahy.com" id="email-sean">sean@seanleahy.com</a></p>
				</div>
				<p>My sales training programs work! Your sales team will not only leave motivated, they will leave with specific tools they can use right away. I have developed a very affordable pricing schedule that will deliver a return on your investment if just one of your salespeople sells more. And I guarantee much more than that.</p>
				<p>My fee for a customized speech is $4,900.</p>
				<p>Multiple speeches, half day, and full day programs are priced according to event requirements.</p>
				<p>Call or e-mail me to discuss your upcoming meeting. </p>
			</div>
	</div>
</div>