<div class="main">
	<div class="index-left">
		<div class="index-video" id="video1">
      <h2 class="video-header">For Salespeople</h2>
      <img src="images/play01.png" class="index-thumbnail">
    </div>
    <div class="index-video" id="video2">
      <h2 class="video-header">For Non-salespeople</h2>
      <img src="images/play02.png" class="index-thumbnail">
    </div>
	</div>
	<div class="break"></div>
	<div class="index-right">
		<div id="inner-right">
			<img src="images/gamechanging_02.png" id="gamechanging">
		<h1 id="tips">What Exceptional Salespeople Do Differently</h1>
		<div class="quantity">
			<img src="images/ssbook.png" id="book">
		</div>
		<div class="buy-now">
			<a href="http://www.amazon.com/The-Sales-Shot-Paced-Hitting/dp/1477148248/ref=sr_1_1?ie=UTF8&qid=1362522800&sr=8-1&keywords=leahy+sales+shot" target="_blank"><img src="images/amazon.png" id="amazon" class="order-links"></a>
			<a href="http://www.barnesandnoble.com/w/the-sales-shot-sean-p-leahy/1114703213?ean=9781477148259" target="_blank"><img src="images/bnn.png" id="barnes" class="order-links"></a>
		</div>
		<div id="book-review">
			<p id="review-p">"The Sales Shots are great! I often use their messages in my training of our insurance agents."</p>
			<p class="review-source">Dan Hickey</p>
			<p class="review-source">Sr. Education Professional</p>
			<p class="review-source">Allstate Insurance Company </p>
		</div>
		<p id="inquire">Contact sean@seanleahy.com to inquire</p>
		</div>
	</div>
</div>