<div class="main">
	<div class="index-left">
		<div id="index-video">
			<img src="images/vidthumbnail.jpg" id="index-thumbnail">
		</div>
		<h1 id="tips">100 Fast Paced, Hard Hitting Sales Tips</h1>
		<div class="quantity">
			<img src="images/ssbook.png" id="book">
		</div>
		<div class="buy-now">
			<a href="http://www.amazon.com/The-Sales-Shot-Paced-Hitting/dp/1477148248/ref=sr_1_1?ie=UTF8&qid=1362522800&sr=8-1&keywords=leahy+sales+shot" target="_blank"><img src="images/amazon.png" id="amazon" class="order-links"></a>
			<a href="http://www.barnesandnoble.com/w/the-sales-shot-sean-p-leahy/1114703213?ean=9781477148259" target="_blank"><img src="images/bnn.png" id="barnes" class="order-links"></a>
		</div>
		<div id="book-review">
			<p id="review-p">"The Sales Shots are great! I often use their messages in my training of our insurance agents."</p>
			<p class="review-source">Dan Hickey</p>
			<p class="review-source">Sr. Education Professional</p>
			<p class="review-source">Allstate Insurance Company </p>
		</div>
		<p id="inquire">Contact sean@seanleahy.com to inquire</p>
		<hr>
	</div>
	<div class="break"></div>
	<div class="index-right">
		<div id="inner-right">
			<p>After nearly 20 years as a president and CEO I quit my day job to concentrate full time on my life's greatest passion, sales training and motivational speaking.</p>
			<p>While working my way from street vednor to CEO I learned a number of things. First, I absolutely love the business of selling and I absolutely love salespeople. I also learned that the overwhelming majority of sales training programs treat the process as if it were a college course. "If you follow these steps you'll get the order." Yawn.</p>
			<p>In my 30 years in business I have yet to see a single salesperson follow the "sales process" from beginning to end. I dare to say that if on actually did, they would be laughed out of the customer's office.</p>
			<p>That is not to say there is not a process. There is. But that "process" is a combination of art and science...and PASSION! It is not a check the box, step by step, prcoess from open to probe to close.</p>
			<p>So, after speaking and training part time for the past 10 years, I am now a full time trainer, motivational speaker, and consultant.</p>
			<h3>Why?</h3>
			<ol>
				<li>Because it is my passion!</li>
				<li>Because salespeople are the driving force behind most successful businesses.</li>
				<li>Because I love training salespeople, and sales managers, on both the art and science of selling and how to win!</li>
			</ol>
			<h2>What others are saying</h2>
			<div class="others">
				<p class="others-quote">"The best sales presentation I have seen in 40 years."</p>
				<p>Pete Lemmon</p>
				<p>CEO</p>
				<p>Northcoast Electric</p>
			</div>
			<div class="others">
				<p class="others-quote">"We have had a lot of speakers before but Sean nailed it better than any of them."</p>
				<p>Jim Brazell</p>
				<p>Director, Strategic Saled Development</p>
				<p>Land O'Lakes-Purina Feed</p>
			</div>
			<div class="others">
				<p class="others-quote">"10, 10, 10. New and innovative!</p>
				<p>John Derry</p>
				<p>District Sales Manager</p>
				<p>Staples</p>
			</div>
			<div class="others">
				<p class="others-quote">We received nothing but great comments on your speech. Everyone thought you did an outstanding job, and it was the best presentation they had ever heard.</p>
				<p>Bob Wolf</p>
				<p>Manager, COmmercial Analysis & Administration</p>
				<p>BASF Corporation</p>
			</div>
			<div class="others">
				<p class="others-quote">"One of the highest rated presentations we have ever had."</p>
				<p>Ken Hooper</p>
				<p>President</p>
				<p>NEMRA</p>
			</div>
			<div class="others">
				<p class="others-quote">"The best presenter I have ever seen."</p>
				<p>Dan Murphy</p>
				<p>National Account Manager</p>
				<p>McNaughton McKay</p>
			</div>
			<h2>So if your sales team is fully prepared, you should not hire me.</h2>
			<h2>If, however, you want to WIN...give me a call. I promise to fire up your salespeople and I promise to help you win!</h2>
		</div>
	</div>
</div>
