<div class="dynamic-div">
	<div class="contact-div">
		<h1 class="dynamic-header" id="shot-header">SALES SHOT</h1>
		<div class="sales-left">
			<img src="images/ssbookalternate.png" id="sales-book">
			<div id="order-buttons">
				<a href="http://www.amazon.com/The-Sales-Shot-Paced-Hitting/dp/1477148248/ref=sr_1_1?ie=UTF8&qid=1362522800&sr=8-1&keywords=leahy+sales+shot" target="_blank"><img src="images/amazon.png" id="amazon" class="order-links"></a>
				<a href="http://www.barnesandnoble.com/w/the-sales-shot-sean-p-leahy/1114703213?ean=9781477148259" target="_blank"><img src="images/bnn.png" id="barnes" class="order-links"></a>
			</div>
		</div>
		<div class="sales-right">
			<!-- <p class="sales-p">If you are in business today, you don’t have extra time on your hands. That is why this book is designed to give you hard hitting, straight-to-the-point, sales tips that you can consume quickly and easily.</p>
			<p class="sales-p">You can read the book from cover to cover or you can use the Table of Contents to pick and choose what to read. Each Sales Shot tells you how the average salesperson handles a situation and what the Sales Superstar does differently.</p>
			<p class="sales-p">No matter how you use the book, it will help make you a sales superstar!</p>
			<p class="sales-p">The Sales Shot also comes in the form of a weekly email!</p> -->
			<div id="signup-sales">
				<a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001UWUIXldX9aj3rQGEmOxzOFOQgj9z30MNmqJl6Z-tbnQt5ik6iwFvpWD7M2eQ6lozNjxClhOfqG-k2br1hbL_aQ%3D%3D" target="_blank" class="signup-link">Sign up to receive a free sales shot every week or two</a>
			</div>
		</div>
		<div id="survey-div">
			<img src="images/Sales Shot Survey Image.png" id="survey">
		</div>
	</div>
	<hr id="sales-break">
	<div class="sales-lower">
		<!-- <img src="images/SalesShotLogo.jpg" id="big-book">
		<div class="sales-lower-right">
			<p class="sales-bold">Sample Sales Shot</p>
			<p class="sales-bold" id="sales-italic">"Ask for More"</p>
			<p class="sales-bold">I love giving up something during a negotiation!</p>
			<p class="sales-regular">Why?</p>
			<p class="sales-regular">Because it is the very best time to get additional business!</p>
			<p class="sales-regular">Almost every negotiation includes some sort of concession. And there is no better time to ask for additional business then right before you are about to give one.</p>
			<p class="sales-bold">What the AVERAGE SALESPERSON does:</p>
			<p class="sales-regular">The average salesperson gives in...and that's it. When asked for a better price he gives it, and then asks for the order. If he gets the order he considers the negotiation a success.</p>
			<p class="sales-bold">What the SALES SUPERSTAR does:</p>
			<p class="sales-regular">The superstar ASKS FOR MORE!</p>
			<p class="sales-regular">It goes something like this...</p>
			<p class="sales-regular">Customer: "Can you lower your price 5%?"</p>
			<p class="sales-regular">Superstar: "If I lower my price can I finally get your (additional) business?"</p>
			<p class="sales-regular">It's that simple!</p>
			<p class="sales-bold">What can you do?</p>
			<p class="sales-regular">ASK FOR MORE!</p>
			<p class="sales-regular">Never concede anything without asking for something in return. There is no better time to gain additional business from your customer than when he has just asked you to concede something. You MUST take advantage of the opportunity!</p>
			<div id="bottom-signup">
				<a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001UWUIXldX9aj3rQGEmOxzOFOQgj9z30MNmqJl6Z-tbnQt5ik6iwFvpWD7M2eQ6lozNjxClhOfqG-k2br1hbL_aQ%3D%3D" target="_blank" class="signup-link">Click Here to Sign Up for the Sales Shot</a>
			</div>
		</div> -->
	</div>
</div>