<div class="dynamic-div">
	<div class="signup-page-div">
		<h1 class="dynamic-header" id="signup-header">SIGN UP</h1>
		<p id="signup-p">Click on the link below to sign up for Sean's Sales Shot. Every week or two you will receive a pertinent sales tip that is short and to the point. </p>
		<div class="signup-div">
			<a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001UWUIXldX9aj3rQGEmOxzOFOQgj9z30MNmqJl6Z-tbnQt5ik6iwFvpWD7M2eQ6lozcMk7CjysCQ-AVO13molfBw%3D%3D" id="signup-last">Sign up for the Sales Shot</a>
			<img src="https://imgssl.constantcontact.com/ui/images1/safe_subscribe_logo.gif" id="safesubcribe">
			<p id="signup-bottom">For <a href="http://www.constantcontact.com/jmml/email-marketing.jsp" target="_blank" id="marketing">Email Marketing</a> you can trust</p>
		</div>
	</div>
</div>