<div class="dynamic-div">
	<div class="testimonials-left">
		<h1 class="dynamic-header" id="testimonials-header">TESTIMONIALS</h1>
		<div class="testimonial">
			<div class="bubble bubble3">
				<div class="quote">
					<p class="testimonial-p">"We received nothing but great comments on your speech. Everyone thought you did an outstanding job, and it was the best presentation they had ever heard."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Bob Wolf</p>
				<p class="testimonial-p">Manager, Commercial Analysis & Administration</p>
				<p class="testimonial-p">BASF Corporation</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble3">
				<div class="quote">
					<p class="testimonial-p">"The best industry sales presentation I have seen in 40 years."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Pete Lemmon</p>
				<p class="testimonial-p">CEO</p>
				<p class="testimonial-p">Northcoast Electric</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble3">
				<div class="quote">
					<p class="testimonial-p">"Sean's training was fantastic. My guys are still talking about how good it was."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Dana Smith</p>
				<p class="testimonial-p">VP of Sales</p>
				<p class="testimonial-p">Electric Suppluy & Equipment Co.</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble3">
				<div class="quote">
					<p class="testimonial-p">"One of the hiest rated presentations we have ever had."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Ken Hooper</p>
				<p class="testimonial-p">President</p>
				<p class="testimonial-p">NEMRA</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble3">
				<div class="quote">
					<p class="testimonial-p">"The best presenter I have ever seen."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Dan Murphy</p>
				<p class="testimonial-p">National Account Manager</p>
				<p class="testimonial-p">Mcnaughton McKay</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble3">
				<div class="quote">
					<p class="testimonial-p">"Sean was terrific!...</p>
					<p class="testimonial-p">...Our members asked that we bring him back again!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Louise O'Sullivan</p>
				<p class="testimonial-p">President, Prime Advantage</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble2">
				<div class="quote">
					<p class="testimonial-p">“We have had a lot of speakers before but Sean
					nailed it better than any of them.”</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Jim Brazell</p>
				<p class="testimonial-p">Director, Strategic Sales Development</p>
				<p class="testimonial-p">Land O'Lakes-Purina Feed</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"Absolutely terrific...You really energized me!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Marianne Gaige</p>
				<p class="testimonial-p">Cheif Executive Officer, Cathedral Corporation</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"10, 10, 10...new and innovative"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">John Derry</p>
				<p class="testimonial-p">District Sales Manager, Staples</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"...absolutely wonderful!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Michelle Matijevic</p>
				<p class="testimonial-p">QC Lab Supervisor, Sage Products</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"The best speech I have seen in 30 years."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">David Bulkowski</p>
				<p class="testimonial-p">Owner, DJB Sales Associates</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble5">
				<div class="quote">
					<p class="testimonial-p">"Your presentation at the Boshart Industries meeting was fantastic. I thought you would like to know that my husband Frank gave me flowers for Sweetest Day and they were yellow and some were yellow with red pedals!! Thanks to you, he listened."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Julie Longenecker</p>
				<p class="testimonial-p">Vice President, JFL Marketing, Inc.</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble2">
				<div class="quote">
					<p class="testimonial-p">“Our survey results indicated that your
					speech was the highlight of our meeting.”</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Marty Burbrdige</p>
				<p class="testimonial-p">President & CEO, Crescent Electric Supply</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"The best I have ever seen!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Rich Peterson</p>
				<p class="testimonial-p">Senior Account Executive, Davies Molding</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"Outstanding!</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Jared Silver, At A Glance Marketing</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble2">
				<div class="quote">
					<p class="testimonial-p">"...exceeded my expectations and
					I highly recommend him."</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Lissa Anderson</p>
				<p class="testimonial-p">Outreach & Volunteer Coordinator, Cancer Wellness Center</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble2">
				<div class="quote">
					<p class="testimonial-p">“Your management speech helped us
					turn around one of our Texas branches.”</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Tim Copeland</p>
				<p class="testimonial-p">Division President, Rexel, Inc.</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble4">
				<div class="quote">
					<p class="testimonial-p">“Sean practices what he preaches. He asked so many questions about our needs, he knew our business inside and out before he met with our salespeople.
					He was worth every penny!”</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Suzanne S. Oles</p>
				<p class="testimonial-p">Director, Worldwide Color Solution Sales</p>
				<p class="testimonial-p">InfoPrint Solutions Company</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble1">
				<div class="quote">
					<p class="testimonial-p">"Exactly what we needed!"</p>
				</div>
			</div>			
			<div class="source">
				<p class="testimonial-p">Dean Vicha</p>
				<p class="testimonial-p">Vice President, NationaLease</p>
			</div>
		</div>
		<div class="testimonial">
			<div class="bubble bubble16">
				<div class="quote letter">
					<p class="testimonial-p block">Hi Sean,</p>
					<p class="testimonial-p block">Just thought I would let you know I had a meeting with the Top Management of (large company) yesterday. Based on your Sales Shot suggestion my second slide said "Enough about Burndy" and that lead into a one hour discussion of what (large company) was looking for in a partnership.</p>
					<p class="testimonial-p block block-last">It went great and they told me this was the first time a supplier had done this. Thank you for your Sales Shot insight!</p>
				</div>
				<p class="testimonial-p letter-source">Regards</p>
				<p class="testimonial-p letter-source">Eric Shaban</p>
				<p class="testimonial-p letter-source">VP Sales and Marketing</p>
				<p class="testimonial-p letter-source">Burndy Canada Inc.</p>
			</div>			
		</div>
		<div class="testimonial">
			<div class="bubble bubble16">
				<div class="quote letter">
					<p class="testimonial-p block">"Sean appeared at our annual Product Showcase meeting and spoke to over 100 of our leading executives. He was extremely well received. Sean has a uniquely effective and enjoyable way of reminding people of best-in-class sales and marketing ideas while also provoking people to think about their businesses with a fresh set of perspectives.</p>
					<p class="testimonial-p block block-last">Sean connected strongly with an audience that included people new to our industry as well as those that have years of sales and management experience. We would be pleased to invite Sean to speak at a future meeting."</p>
				</div>
				<p class="testimonial-p letter-source">Steve Ruane</p>
				<p class="testimonial-p letter-source">Vice President of Marketing and Member Services</p>
				<p class="testimonial-p letter-source">The IMARK Group</p>
			</div>			
		</div>
	</div>
	<div class="testimonials-right">
		<img src="images/surveycards.jpg">
	</div>
</div>