<div class="dynamic-div">
	<div class="handouts-div">
		<h1 class="dynamic-header" id="handouts-header">HANDOUTS</h1>
		<p id="enlarge">(Click Images to View)</p>
		<div class="row" id="row1">
			<div class="handouts">
				<a href="/tournament" target="_blank" class="handout-links"><img src="images/handouts/thetournament.png" class="handout-images"><span class="handout-title">Business Tournament</span></a>
			</div>
			<div class="handouts thin">
				<a href="images/handouts/salesplanner.xls" target="_blank" class="handout-links"><img src="images/handouts/salesplanner.png" class="handout-images"><span class="handout-title tall">Upper Management Sales Planner</span></a>
			</div>
		</div>
		<div class="row" id="row2">
			<div class="handouts thin">
				<a href="images/handouts/100thingssalespeople.pdf" target="_blank" class="handout-links"><img src="images/handouts/100thingssalespeople.png" class="handout-images"><span class="handout-title">100 Things Salespeople Do</span></a>
			</div>
			<div class="handouts">
				<a href="images/handouts/Presentation Planner.xls" target="_blank" class="handout-links"><img src="images/handouts/presentationplanner.png" class="handout-images"><span class="handout-title">Presentation Planner</span></a>
			</div>
			<div class="handouts">
				<a href="images/handouts/Negotiation Planner.xls" target="_blank" class="handout-links"><img src="images/handouts/negotiationplanner.png" class="handout-images"><span class="handout-title">Negotiation Planner</span></a>
			</div>
		</div>
		<div class="row" id="row3">
			<div class="handouts">
				<a href="images/handouts/salesinterviewquestions.pdf" target="_blank" class="handout-links"><img src="images/handouts/salesinterviewquestions.png" class="handout-images"><span class="handout-title">Sales interview Questions</span></a>
			</div>
			<div class="handouts thin">
				<a href="images/handouts/100thingsmanagers.pdf" target="_blank" class="handout-links"><img src="images/handouts/100thingsmanagers.png" class="handout-images"><span class="handout-title">100 Things Managers Do</span></a>
			</div>
			<div class="handouts">
				<a href="images/handouts/onlysellingvg.jpg" target="_blank" class="handout-links"><img src="images/handouts/onlysellingvg.jpg" class="handout-images"><span class="handout-title">Selling Sign</span></a>
			</div>
		</div>
		<div class="row" id="row4">
			<div class="handouts thin">
				<a href="images/handouts/threetypesnewer.pdf" target="_blank" class="handout-links"><img src="images/handouts/threetypes.png" class="handout-images"><span class="handout-title"> 3 Types of Salespeople</span></a>
			</div>
			<div class="handouts thin">
				<a href="images/handouts/discountimpact.pdf" target="_blank" class="handout-links"><img src="images/handouts/discountimpact.png" class="handout-images"><span class="handout-title tall">Discount Impact on Profit Margin</span></a>
			</div>
			<div class="handouts thin">
				<a href="/sales-checklist" target="_blank" class="handout-links"><img src="images/sales_checklist.png" class="handout-images"><span class="handout-title">Sales Checklist</span></a>
			</div>
		</div>
	</div>
</div>