<div class="dynamic-div">
	<div class="topics-left">
		<h1 class="dynamic-header" id="topics-header">TOPICS</h1>
		<h2 class="topics-sub">SALES</h2>
		<h2 class="subheading">Only Selling is Selling - What Sales Superstars Do Differently!</H3>
		<p class="dynamic-p">Experienced salespeople will leave this speech motivated and with specific new sales tools they will use right away. Focused on what the best salespeople do differently from all the rest, your sales team will participate in a hands-on experience that leaves them charged up and ready to sell.</p>
		<p class="dynamic-p">You will first receive a 4-page questionnaire so that I can customize the session to exactly what you want delivered. I will follow up with at least 3 phone interviews with participants you assign. By the time of your meeting, you will have a message that meets your specific needs with only the topics that you want covered.</p>
		<p class="dynamic-p">Possible topics include Negotiation, Presentation Strategies and Techniques, Effective Questioning, Calling on Upper Management, Selling Value, and more. At your option, your salespeople will receive free weekly Sales Shots (Sales tips) from me to keep them focused on winning sales ideas.</p>
		<h2 class="subheading">Customer Focus – Everyone is a Salesperson</h2>
		<p class="dynamic-p">When you want everyone in your company to focus on the customer, this is the message you want them to hear. Your employees will be motivated to think like a salesperson and to treat every customer in an exceptional way. Your employees will participate throughout and feel true stories that will inspire them to challenge themselves.</p>
		<p class="dynamic-p">You will work with me to customize this session to include examples from your own company and to assure your employees leave repeating the message you want delivered.</p>
		<h2 class="subheading">Leadership – Hiring, Managing and Motivating Individuals</h2>
		<p class="dynamic-p">Today’s business environment means hiring, managing and motivating employees is more important than ever. Your people must be your top priority. By hiring the best, inspiring the best, and keeping the best, all of your company objectives become much easier. Your managers will learn how to higher better, challenge more effectively, motivate superstars, and succeed in our challenging marketplace.</p>
		<h2 class="topics-sub">STRATEGY – Developing Strategy When Rapid Growth is Your Goal</h2>
		<p class="dynamic-p">If you are seeking rapid growth, the X strategy is the way to get it! You will learn strategy secrets for finding market opportunities and determining where, and how, to attack the competition. You will leave with a specific road map on how to create your own strategy that is different than anything you have tried before. </p>
		<h2 class="topics-sub">MOTIVATION/LIFE BALANCE - When Life Gives You a Lemon… Eat It</h2>
		<p class="dynamic-p">Utilizing real life inspiring stories, I will share motivation and methods for dramatically improving your life. You will learn exactly where you are, where you want to be, and how to get there. By sharing an extensive research project, you will find out what most successful and happy people have in common and how you can as well. All audience members are standing at the end…some on the tables! </p>
	</div>
	<div class="topics-right">
		<img src="images/topics_polaroids.png" id="topics-pic">
	</div>
</div>