<div id="tournament">
  <button id="seed">Fill Seeds</button>
  <div id="bracket">
    <div class="round" id="round1">
      <div class="matchup" id="m1">
        <div class="team" id="team1">Click to Enter</div>
        <div class="team" id="team2">Click to Enter</div>
      </div>
      <div class="matchup" id="m2">
        <div class="team" id="team3">Click to Enter</div>
        <div class="team" id="team4">Click to Enter</div>
      </div>
      <div class="matchup" id="m3">
        <div class="team" id="team5">Click to Enter</div>
        <div class="team" id="team6">Click to Enter</div>
      </div>
      <div class="matchup" id="m4">
        <div class="team" id="team7">Click to Enter</div>
        <div class="team" id="team8">Click to Enter</div>
      </div>
      <div class="matchup" id="m5">
        <div class="team" id="team9">Click to Enter</div>
        <div class="team" id="team10">Click to Enter</div>
      </div>
      <div class="matchup" id="m6">
        <div class="team" id="team11">Click to Enter</div>
        <div class="team" id="team12">Click to Enter</div>
      </div>
      <div class="matchup" id="m7">
        <div class="team" id="team13">Click to Enter</div>
        <div class="team" id="team14">Click to Enter</div>
      </div>
      <div class="matchup" id="m8">
        <div class="team" id="team15">Click to Enter</div>
        <div class="team" id="team16">Click to Enter</div>
      </div>
    </div>
    <div class="round" id="round2">
      <div class="matchup" id="m9">
        <div class="team" id="w1"></div>
        <div class="team" id="w2"></div>
      </div>
      <div class="matchup" id="m10">
        <div class="team" id="w3"></div>
        <div class="team" id="w4"></div>
      </div>
      <div class="matchup" id="m11">
        <div class="team" id="w5"></div>
        <div class="team" id="w6"></div>
      </div>
      <div class="matchup" id="m12">
        <div class="team" id="w7"></div>
        <div class="team" id="w8"></div>
      </div>
    </div>
    <div class="round" id="round3">
      <div class="matchup" id="m13">
        <div class="team" id="w9"></div>
        <div class="team" id="w10"></div>
      </div>
      <div class="matchup" id="m14">
        <div class="team" id="w11"></div>
        <div class="team" id="w12"></div>
      </div>
    </div>
    <div class="round" id="round4">
      <div class="matchup" id="m15">
        <div class="team" id="w13"></div>
        <div class="team" id="w14"></div>
      </div>
    </div>
    <div id="winner">
      <div class="team" id="w15"></div>
    </div>
  </div>
</div>