<div class="dynamic-div" id="why-hire-div">
  <div id="why-hire">
    <h1 class="dynamic-header" id="why-hire-header">Why Should You Hire Me?</h1>
    <ol id="hire-sean">
      <li>I completely focus on you!</li>
      <ol class="inner-ol">
        <li>I start by asking you a number of quesitons about your meeting and what you want to accomplish so I can deliver more than you expect.</li>
        <li>Then I send you a 4-page questionnaire to insure that I don't miss a thing.</li>
        <li>Then I interview 3 of your key people to make sure I understand the culture and feel the participant's perspective.</li>
        <li>Then, and only then, I proceed to number 2 on this list.</li>
      </ol>
      <li>I Customize everything!</li>
      <ol class="inner-ol">
        <li>I only present the topics that will help your team win.</li>
        <li>I also make sure I use the right words, understand nuances, and relate to your industry, your company, and your people.</li>
      </ol>
      <li>I have street credibility...literally.</li>
      <ol class="inner-ol">
        <li>I started selling on the street, as a street vendor in New York City.</li>
        <li>As a professional salesperson I consistently lead my company.</li>
        <li>As a sales manager I led the top district and then region.</li>
        <li>As a President and CEO I built a company from $0 to nearly $200 million in less than 10 years.</li>
        <li>I have been fortunate to successfully particpate on 3 Boards of Directors, worked throughout North America and Europe, and successfully worked intimately inside hundreds of manufacturers, distributors, and customers that include Disney, General Motors, Michelin, Koch Industries, Pepsi, and many others.</li>
      </ol>
      <li>I deliver results.</li>
      <ol class="inner-ol">
        <li>Those who attend my speeches and training sessions often say they are the best they have ever seen. <a href="/testimonials" id="hire-link">See testimonails</a></li>
        <li>Your people will laugh, will be entertained, will be involved, but most importantly they will leave with very useful information they will use right away and for many years to come.</li>
      </ol>
      <li>You will hear "Great Choice" when the meeting is over!</li>
    </ol>
  </div>
</div>